{% extends "base_generic.html" %}

{% block content %}
<p><input type="checkbox" name="a" value=""> 1417</p>
<h1>Местная библиотека</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Динамический контент</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Книги о войне:</strong> {{ num_book_filter }}</li>
  </ul>

{% endblock %}